.main-app {
    text-align: center;
    margin: 100px;
}

.header {
    text-align: center;
}

.cta-button {
    padding: 15px;
    margin: 15px;
    border: none;
    border-radius: 12px;
    min-width: 250px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.connect-wallet-button {
    background: rgb(114, 23, 244);
}

.buy-button {
    background: rgb(55, 245, 248);
}

.sell-button {
    background: rgb(249, 51, 246);
}
